---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "@/layouts/Main.astro";

export async function getStaticPaths() {
  const galleryEntries = await getCollection("gallery");
  return galleryEntries.map((galery) => ({
    params: { slug: galery.id },
    props: galery.data.images,
  }));
}

const images = Astro.props as string[];
---

<Layout>
  <div class="max-w-5xl mx-auto"></div>
</Layout>
