---
import { getCollection, type CollectionEntry } from "astro:content";
import PostSection from "@/components/PostSection.astro";
import Layout from "@/layouts/Main.astro";

type BlogPost = CollectionEntry<"blog">;

const posts = (await getCollection("blog")).sort(
  (a: BlogPost, b: BlogPost) =>
    b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<Layout>
  <div class="max-w-5xl mx-auto">
    <PostSection posts={posts} />
  </div>
</Layout>
