---
import {
  HoverLinkGitHub,
  HoverLinkMail,
  HoverLinkPortfolio,
  HoverLinkLinkedIn,
} from "./HoverLink.tsx";
const today = new Date();
---

<footer class="px-4 pt-8 pb-16 text-center">
  <small>
    Copyright &copy; <span id="copyright">{today.getFullYear()}</span> Genadi Tsolov.
    All rights reserved.
  </small>
  <div class="flex justify-center items-center gap-4 mt-4">
    <HoverLinkGitHub client:visible />
    <HoverLinkMail client:visible />
    <HoverLinkPortfolio client:visible />
    <HoverLinkLinkedIn client:visible />
  </div>
</footer>

<script>
  const copyright = document.querySelector("#copyright");
  if (copyright) {
    copyright.textContent = new Date().getFullYear().toString();
  }
</script>
