---
import HeaderLink from "./HeaderLink.astro";
import { ThemeToggle } from "./ui/theme-toggle";
import GithubLink from "./GithubLink.astro";

const linkStyles = "py-4 px-2 border-b-2 border-b-transparent";
---

<header
  class="m-0 py-0 px-4 bg-white dark:bg-background dark:border-b-2 dark:border-orange-500 shadow-md text-base"
>
  <nav class="flex items-center justify-between">
    <div class="internal-links">
      <HeaderLink class={linkStyles} href="/">Home</HeaderLink>
      <HeaderLink class={linkStyles} href="/blog">Blog</HeaderLink>
      <HeaderLink class={linkStyles} href="/about">About</HeaderLink>
    </div>

    <div class="flex flex-row items-center gap-4">
      <GithubLink />
      <ThemeToggle client:load />
    </div>
  </nav>
</header>
