---
import Image from "astro/components/Image.astro";
import type { CollectionEntry } from "astro:content";
import PostListing from "./PostListing.astro";

interface Props {
  posts: CollectionEntry<"blog">[];
}

const { posts } = Astro.props;
const mostRecentPost = posts[0];
---

<section
  id="recent-posts"
  class="container flex flex-col items-center gap-6 py-12 sm:gap-7"
>
  {
    mostRecentPost && (
      <section class="mb-8">
        <h2 class="text-2xl font-bold mb-4 text-orange-500 uppercase">
          Most Resent Post
        </h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
          <a href={`/blog/${mostRecentPost ? mostRecentPost.slug : ""}`}>
            <div>
              <Image
                alt="Latest Post"
                class="w-full h-64 object-cover object-center rounded-lg"
                height="400"
                src={mostRecentPost.data.heroImage ?? "404.png"}
                width="600"
                loading="eager"
              />
            </div>
          </a>
          <div class="flex flex-col justify-center">
            <h3 class="text-xl font-bold mb-2">{mostRecentPost.data.title}</h3>
            <p class="text-zinc-500 dark:text-zinc-400">
              {mostRecentPost.data.description}
            </p>
            <a
              class="text-orange-500 hover:text-orange-600 mt-4"
              href={`/blog/${mostRecentPost.slug}`}
            >
              Read More
            </a>
          </div>
        </div>
      </section>
    )
  }

  <PostListing posts={posts} />
</section>
