---
import PostCard from "./PostCard.astro";
import type { CollectionEntry } from "astro:content";

interface Props {
  posts: CollectionEntry<"blog">[];
}

const { posts } = Astro.props;
---

<section class="container flex flex-col items-center gap-6 py-24 sm:gap-7">
  <div class="flex flex-col gap-3">
    <span class="text-lg font-bold text-orange-500 uppercase text-center">
      Resent Articles
    </span>
    <h2
      class="text-3xl font-semibold tracking-tight sm:text-4xl text-balance text-center"
    >
      My Boring Blog
    </h2>
  </div>
  <p class="text-lg text-muted-foreground text-balance max-w-2xl text-center">
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
  </p>
  <div
    class="mt-6 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-7 auto-rows-fr"
  >
    {posts.map((post) => <PostCard post={post} />)}
  </div>
</section>
