---
import { getCollection } from "astro:content";
import { Badge } from "@/components/ui/badge";
import { slugify } from "@/lib/slugify";
import { getTags, getPostPerTagCount } from "@/lib/postUtils";

const posts = await getCollection("blog");
const tags: string[] = getTags(posts);
const tagCounts = getPostPerTagCount(tags);

const { showCount } = Astro.props;
---

<div
  class="flex flex-row items-center justify-center gap-4 flex-wrap max-w-lg mx-auto"
>
  {
    Object.entries(tagCounts).map(([key, val]) => (
      <Badge>
        <a class="badge" href={`/blog/category/${slugify(key)}/`}>
          {key} {showCount && `(${val})`}
        </a>
      </Badge>
    ))
  }
</div>
